USE [master]
GO
/****** Object:  Database [Bibliotheque]    Script Date: 24/12/2024 19:19:44 ******/
CREATE DATABASE [Bibliotheque]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Bibliotheque', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Bibliotheque.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Bibliotheque_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Bibliotheque_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Bibliotheque].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Bibliotheque]
GO
/****** Object:  Table [dbo].[Auteurs]    Script Date: 24/12/2024 19:19:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Auteurs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Livres]    Script Date: 24/12/2024 19:19:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Livres](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Titre] [nvarchar](100) NOT NULL,
	[Id_Auteur] [int] NOT NULL,
	[Nb_Pages] [int] NOT NULL,
	[Prix] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Titre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Livres]  WITH CHECK ADD FOREIGN KEY([Id_Auteur])
REFERENCES [dbo].[Auteurs] ([Id])
GO
ALTER TABLE [dbo].[Livres]  WITH CHECK ADD CHECK  (([Nb_Pages]>(0)))
GO
ALTER TABLE [dbo].[Livres]  WITH CHECK ADD CHECK  (([Prix]>=(0)))
GO
USE [master]
GO
